{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "> 0.25%",
            "not dead",
            "iOS >= 12" // Support iOS 12 and above
          ]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-unicode-regex"
  ]
}